body {
    font-size: 18px;
    font-family: 'Open Sans', sans;
    color: #222;
    margin-top: 0;
    margin-bottom: 0;
    background-color: #324c5f;
    /*background-image : url('background/dark.jpg'); */
}
a {
    color: #4b738e;
    text-decoration: none;
}
a:hover {
    color: #324c5f;
}
a.todo:hover {
    color: #AA1111;
}
p {
    line-height: 1.25em;
    text-align: justify;
}
#main {
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: auto;
    margin-right: auto;
    width: 1000px;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: #ECECEA;
    /*background-image : url('background/light.jpg'); */
    text-align: justify;
}
#contact {
    margin-top: 10px;
    text-align: left;
}
#social_link {
    margin-top: 8px;
}
.indent {
    margin-left: 50px;
}
h1 {
    /*font-variant: small-caps;*/
    font-weight: bold;
    padding: 0px;
    margin: 0px;
    color: #253947;
    font-family: sans-serif;
    font: Helvetica;
}
h2 {
    margin-top: 0px;
    margin-left: 0px;
    margin-bottom: 0px;
    color: #324c5f;
    border: none;
    font-size: 1.5em;
    font-weight: normal;
    font-style: italic;
}
#page-head {
    padding-bottom: 30px;
}
#photo {
    height: 120px;
    float: right;
    background-color: #fff;
    background-color: transparent;
}
#details_button {
    float: right;
}
img {
    max-width: 130%;
    max-height: 130%;
}
.section-heading {
    font-size: 1.5em;
    margin-top: 2em;
    margin-bottom: 20px;
    padding-top: 0px;
    border-bottom: solid 1px;
}
.section-heading h2 {
    display: inline;
    color: #4b738e;
    font-size: 1em;
}
/*_____________________Publications____________*/


div.pub {
    margin-bottom: 15px
}
div.pub_title {
    font-weight: bold;
    /*color: #555555;*/
}
div.pub_author {
    font-weight: normal;
}
div.pub_journal {
    font-style: italic;
}



/*_____________________Tab_____________________*/

.tab {
    display: inline-block;
    margin-left: 0px;
    margin-right: -6px;
    /*-6*/
    padding: 3px;
    border: 1px solid black;
    cursor: pointer;
}
.tab_off {
    background: #dddddd;
    border-bottom: 1px solid black;
}
.tab_off:hover {
    background: #AAA;
}
.tab_on {
    background: #ECECEA;
    border-bottom: 0px solid black;
    padding-bottom: 4px;
}
.tab_content {
    background-color: #ECECEA;
    border: 1px solid black;
    margin-top: -1px;
    padding: 5px;
    display: none;
}
